<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>Ronald Berlin Architect, P.C. translates the aspirations of its clients into beautiful and practical works of architecture. Ron’s perspective, developed over the course of two decades of professional practice, derives from his lifelong involvement in painting and sculpture, his fascination with the culture and history of architectural form, and his abiding respect for nature as the underpinning of human life.</p>

        <p>A man with optimistic convictions, ready humor, and a compulsion to draw, Ron is happiest with pencil in hand. RBA’s clients look to him to solve their architectural puzzles, and to seamlessly merge the pragmatic with the aesthetic.</p>
      </div>
      <div class="col-lg-6">
        <p>RBA’s projects embrace a wide range of human experience, including a Park Avenue duplex apartment, an award-winning renovation of an historic Princeton residence; an organic foods café, a pleasure pavilion in the Polish countryside; an antiques shop; and a mountain house in New Hampshire.</p>
      </div>
<!--       <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
    <div class="row subsection">
      <div class="col-sm-3 subtext">
        <p><strong>EDUCATION:</strong></p>
        <p class="item">Princeton University: M. Arch., 1979</p>
        <p class="item">Yale University: B.A., 1976</p>
      </div>
      <div class="col-sm-3 subtext">
        <p><strong>LICENSURE</strong></p>
        <p class="item">State of New Jersey, #11356</p>
        <p class="item">Commonwealth of Pennsylvania, #RA-013558-8</p>
        <p class="item">State of New York, #025588</p>
        <p class="item">State of New Hampshire, #3670</p>
      </div>
    </div>
  </div>
</section>
